/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


.slug {
  border-style: hidden;
  font-family:'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.slug:focus {
  border-style: hidden;
  outline: none;
}
body {
  font-family: Helvetica, sans-serif;
}
