/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


.slug {
  border-style: hidden;
  font-family:'Courier New', Courier, monospace;
  text-transform: uppercase;
  width: fit-content;
  max-width: 300px;
  min-width: 5px;
}

.slug:focus {
  border-style: hidden;
  outline: none;
}
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
.action {
  border-style: hidden;
  font-family:'Courier New', Courier, monospace;
  width: fit-content;
  max-width: 300px;
  min-width: 5px;
  outline: none;
}
.action:focus {
  border-style: hidden;
  outline: none;
}
